body {
    margin: 0px;
    padding: 0px;
    font-family: Microsoft YaHei, 楷体_GB2312, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
// 收藏之后的颜色
.collectMenuColor{
    color: #ffb900;
}
// 登录的css
.login{
    position: relative;
    height: 100vh;
    min-height: 600px;
    background: url(../img/login.png) center no-repeat fixed;
    background-size: cover;
}
.login .login-header{
    display: block;
}
.login .login-header .logo{
    display: inline-block;
    width: 200px;
    height: 65px;
    margin: 5vh 0 4vh 130px;
    background: url(../img/login_logo.png) no-repeat;
}
.login .login-wrapper .login_form{
    position: relative;
    margin: auto;
    text-align: center;
    width: 400px;
    background-color: #fff;
    padding: 35px 35px;
    border-radius: 5px;
    box-shadow: 0 0 25px #cac6c6;  
}
.login .login-footer {
    font-size: .875rem;
    line-height: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 5.5vh 0;
    text-align: center;
    color: #fff;
}
.login .login-footer a {
    margin: 0 2px;
    color: #4db3ff;
}
// 页面布局的css
.layout {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    //头部css
    .layout__header {
        height: 60px;
        line-height: 60px;
        background: #202428;
        color:#fff;
        .layout__logo {
            height:60px;
            padding-left:20px;
            padding-right:20px;
            img {
                width: 40px;
				float: left;
				margin: 10px 10px 10px -7px;
            }
        }
        .layout__logo_expanded{
            font-size: 22px;
            width:230px;
            cursor:pointer;
            color: #00af86;
        }
        .layout__logo_collapse{
            font-size: 16px;
            width:60px;
            cursor:pointer;
            span{
                display:block;
                width:50px;
            }
        }
		.layout__header_title{
			font-size:20px;
			cursor:pointer;
		}
        .layout__header-menu_right{
            float:right;
			width:400px;
			height:60px;
            .header_history{
                cursor: pointer;
                text-align:center;
                width:50px;
                &:hover{
                    background-color: #3d4247;
                }
            }
            div{
                color: #fff;
				cursor: pointer;
				width: 50px;
				text-align: center;
				font-size: 18px;
				margin-left: 15px;
				transition:color 0.3s;
                &:hover{
                    color: #10af88;
    				transition:color 0.3s;
                }
            }
        }
		.layout__header-dropdown_right{
			.layout__header-dropdown_img{
				width:30px;
				height:30px;
				border-radius: 50%;
				margin-top:15px;
			}
			.layout__header-dropdown_ul{
				margin-top:-5px;
				width:200px;
				text-align:center;
			}
		}
    }
    //左侧导航和内容区域css
    .layout__footer {
        display: flex;
        position: absolute;
        top: 60px;
        bottom: 0px;
        aside {
            .left-nav-menu_vertical{
                background-color:#282d32;
                border-radius:0px;
                border-bottom:1px soild #fff;
                li{
                    color:#fff;
                    font-size: 16px;
                    padding-left:20px;
                    padding-left:20px;
                    padding-top:15px;
                    padding-bottom:15px;
                    &:hover{
                        color: #10af88;
                        cursor:pointer;
                    }
                }
            }
        }
        .left-menu_collapsed{
            flex:0 0 60px;
            width: 60px;
            ul{
                i{
                    font-size: 18px;
                }
            }
        }
        .left-menu_expanded{
            flex:0 0 230px;
            width: 230px;
            overflow: hidden;
        }
        .content-container {
            background: #f2f2f2;
            width: 200px;
            flex:1;
            padding: 20px;
        }
    }
}
// 更多菜单中的css
.moreMenuHeight{
    .filter-tree{
        border:none;
    }
}